In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
len(pd.read_csv("titanic.csv"))

887

## 把男生換成 0 女生換成1

In [4]:
df=df.replace('male',0,)
df=df.replace('female',1)

In [5]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,0,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,1,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,1,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,1,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,0,35.0,0,0,8.0500

## 刪掉所有ＮＡＮ

In [6]:
df=df.dropna(axis=1, how='all')

In [7]:
##pd.isnull(df) 判斷是否有ＮＡＮ

## 取出 年紀 存活 性別

In [8]:
dfSurvived=df[['Survived']]
dfSex=df[['Sex']]
dfAge=df[['Age']]

## 將df 轉成 array

In [9]:
dfSurvived=dfSurvived.as_matrix()
dfSex=dfSex.as_matrix()
dfAge=dfAge.as_matrix()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

## 轉一下data 讓機器能學習

In [10]:
dfsex=np.reshape(dfSex,(1,887))
dfage=np.reshape(dfAge,(1,887))

## 合成資料

In [11]:
X1=np.c_[dfSex,dfAge]
Y=dfSurvived

In [12]:
clf =SVC()

In [13]:
clf.fit(X1,Y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [14]:
y_predict =clf.predict(X1)

## 判斷正確率 
### 想法
* 預測與真實相減=0 就是正確的
* 由於只會出現0,1,-1 故將-1都變成1
$$ 正確率  = (1-錯誤的數/所有的數)*100% $$

In [15]:
Y=np.reshape(Y,(1,887))

In [16]:
a=sum(((y_predict-Y)**2))

In [17]:
sum(a)

168

In [20]:
c=(1-(168/887))*100

In [21]:
print('預測正確率為{}%'.format(c))

預測正確率為81.05975197294251%